*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F37135;
    --secondary-color: #5C7285;
    --light-color: #f9fafb;
    --dark-color: #272d35;
}

body {
    font-family: 'Open Sans', serif;
    letter-spacing: 1px;
    line-height: 1.6;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Utility Classes */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Section Header */
.section-header {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}

.section-header h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 0.5rem;
}

.section-header p {
    font-size: 1.2rem;
    color: var(--dark-color);
}

.heading-border {
    width: 64px;
    height: 4px;
    background: var(--primary-color);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 1.3rem 2.3rem;
    border: 1px solid var(--light-color);
    border-radius: 32px;
    background: var(--primary-color);
    color: var(--light-color);
    cursor: pointer;
    transition: all 0.2s;
    font-size: 18px;
    font-weight: 600;    
}

.btn:hover {
    background: var(--primary-color);
    color: #fff;
    border-color: #fff;
    transform: scale(1.05);
}

.section {
    margin: 4rem 0;
}


/* Text Classes */

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

/* Navbar */

.navbar {    
    background: #f7f7f7;
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: 300px;
    height: 55px;
}

.navbar .main-menu-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}

.navbar a {
    color: var(--primary-color);
}

.navbar a:hover {
    color: var(--secondary-color);
}

.navbar i {
    font-size: 1.5rem;
}

/* Mobile Menu */

.mobile-menu {
    display: none;
}

.navbar .mobile-menu-toggle {
    color: var(--primary-color);
    cursor: pointer;
}

.navbar .mobile-menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgb(36, 36, 36);
    opacity: 0.95;
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255,  0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.navbar .mobile-menu-items.active {
    transform: translateX(0);
}

.navbar .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1.2rem;
}

/* Hero */

.hero {
    background: rgba(0, 0, 0,  0.1) url('../images/hero_bkg.jpg') center center/cover no-repeat;
    padding: 11.5rem 2rem 8rem;
    color: #fff;
    overflow: hidden;
    position: relative;    
}

.hero::before {  
    content: '';  
    position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    background: rgba(0, 0, 0, 0.5);  
    z-index: 1;
}  

.hero .hero-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem 8rem;    
}

.hero-content {  
    position: relative;
    z-index: 2;
}

.hero-content h1 {  
    font-size: 4rem;
    font-family: "Black Ops One", serif;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
} 

.hero-content p {  
    font-size: 1.5rem;
    line-height: 1.5; 
    color: #fff;  
    margin-bottom: 2rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
} 

.hero img {
    width: 80%;
    margin-right: 150px;
    animation: slideInFromRight 0.8s ease-out forwards;
    opacity: 0;
    z-index: 3; 
}

.hero .frame-decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
}

/* Animation */  
@keyframes fadeInUp {  
    0% {  
        opacity: 0;  
        transform: translateY(300px);  
    }  
    100% {  
        opacity: 1;  
        transform: translateY(0);  
    }  
}  

/* Animation for Image */  
@keyframes slideInFromRight {  
    0% {  
        transform: translateX(100%);
        opacity: 0;
    }  
    100% {  
        transform: translateX(0);
        opacity: 1;
    }  
}  

.hero-content {  
    animation: fadeInUp 0.8s ease-out forwards;  
    opacity: 0;
}  

/* About Section */  
.value-proposition {  
    background-color: var(--light-color);
    padding: 1.5rem 0 4rem 0;
}  

.value-proposition .container {  
    text-align: center;
}  

.value-proposition h2 {  
    font-size: 2.5rem;
    font-weight: 700;  
    color: var(--dark-color);  
    margin-bottom: 1rem;  
}  

.value-proposition p {  
    font-size: 1.2rem;
    color: var(--secondary-color);  
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;
}  

.value-proposition .heading-border {  
    width: 80px;
    height: 4px;  
    background: var(--primary-color);  
    margin: 1rem auto;
}  


/* Card */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1.75rem;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}

/* Service Cards */
.service-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem 0 4rem
}

.service-cards img {
    width: 130px;
    margin-top: 1rem;
}

.service-cards h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1rem 0;
}



/* Media Queries */
@media(max-width: 1600px) {
    .navbar-flex container {
        max-width: 1600px;
    }
}

@media(max-width: 1200px) {
}

@media(max-width: 992px) {

}

@media(max-width: 768px) {
    .main-menu-items {
        display: none;
    }

    .navbar .mobile-menu{
        display: block;
    }

    .navbar .mobile-menu-toggle {
        display: block;
    }

    .navbar img {
        width: 180px;
        height: 40px;
    }

    .service-cards {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 576px) {

}